header {
    position: relative;
    display: flex;
    max-width: 10%;
    flex: 1 0 auto;
    justify-content: flex-end;
}

#linkcont {
    position: fixed;
}

#linkbar {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    .links {
        @extend #linkbar;
        padding: 1rem;

        a {
            color: $blk;
            width: fit-content;
            border-radius: 2rem;
            display: flex;
            gap: 1rem;
            margin: 4px 2.5rem 4px 0;
            padding: 12px 1rem;

            span {
                font-size: 20px;
            }

            &:hover {
                background-color: $lg;
            }
        }

        .icon {
            padding: 6px;
            margin: 0 1rem;

            &:hover {
                background-color: $ltwt;
            }
        }

        .srch {
            display: none;
        }

        .twtBtn {
            cursor: pointer;
            border-radius: 2rem;
            border: none;
            font-size: 17px;
            background-color: $twt;
            color: white;
            width: 90%;
            padding: 15px 0;
            font-weight: 700;
            display: flex;
            justify-content: center;
            margin-top: 1rem;

            .composeIcon {
                display: none;
                position: relative;

                .add {
                    position: absolute;
                    top: 0;
                    left: -3px;
                }

                .feather {
                    position: relative;
                    left: 5px;
                    top: 3px;
                }
            }

            &:hover {
                background-color: $dtwt;
                transition: 500ms;
            }
        }
    }

    .account {
        cursor: pointer;
        padding: 8px 1rem;
        display: flex;
        align-items: center;
        gap: 5px;
        border-radius: 5rem;
        margin: 0 10px 1rem;

        img {
            width: 48px;
            height: 48px;
            object-fit: cover;
            border-radius: 2rem;
        }

        .names {
            display: flex;
            flex-direction: column;
            color: $dg;

            .name {
                color: black;
                font-weight: 500;
            }
        }

        .more {
            flex: 1;
            display: flex;
            justify-content: flex-end;
        }

        &:hover {
            background-color: $lg;
        }
    }
}

@media screen and (max-width: $v2 ) {
    header {
        flex: 0 0 auto;
    }

    #linkbar {
        width: min-content;
        margin: 0;

        a {
            width: min-content;
            align-self: center;
            margin: 0;
            padding: 15px;

            span {
                display: none;
            }
        }

        .icon {
            margin: 0;
        }

        .twtBtn {
            max-width: 46px;
            align-self: center;

            .composeIcon {
                display: inline !important;
            }
        }

        .account {
            width: fit-content;
            padding: 10px;
            align-self: center;

            .names,
            .more {
                display: none;
            }
        }
    }
}

@media screen and (max-width: $v1 ) {
    #linkcont {
        left: 0;
    }

    #linkbar {
        .links {
            padding: 0;
            padding-top: 1rem;
        }
    }
}

@media screen and (max-width: $v2 ) {
    #linkbar {
        .links {
            .twtBtn {
                height: 46px;
                align-items: center;

                span {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: $v3 ) {
    #linkbar {
        .links {
            .hash {
                display: none;
            }

            .srch {
                display: block;
            }
        }
    }
}

@media screen and (max-width: $vmobile) {
    header {
        z-index: 1;
    }

    #linkcont {
        bottom: 0;
        width: 100%;
    }

    #linkbar {
        height: fit-content;
        width: 100%;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2px 0;

        .links {
            span {
                display: none;
            }

            .mobHide {
                display: none;
            }

            .twtBtn {
                display: flex;
                align-items: center;
                position: absolute;
                bottom: 115%;
                right: 20px;
                max-width: 56px;
                width: 56px;
                height: 56px;
                padding: 0;
            }
        }

        .account {
            display: none;
        }
    }
}