header {
    position: relative;
    display: flex;
    max-width: 10%;
    flex: 1 0 auto;
    justify-content: flex-end;
}

#linkcont {
    position: fixed;
}

#linkbar {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    padding: 1rem;

    a {
        width: fit-content;
        border-radius: 2rem;
        display: flex;
        gap: 1rem;
        margin: 4px 2.5rem 4px 0;
        padding: 12px 1rem;

        span {
            font-size: 20px;
        }

        &:hover {
            background-color: rgb(228, 228, 228);
        }
    }

    .icon {
        padding: 6px;
        margin: 0 1rem;

        &:hover {
            background-color: $ltwt;
        }
    }

    .twtBtn {
        background-color: $twt;
        color: white;
        width: 80%;
        padding: 10px 0;
        font-weight: 700;
        display: flex;
        justify-content: center;

        .composeIcon {
            display: none;
            position: relative;

            .add {
                position: absolute;
                top: 0;
                left: -3px;
            }

            .feather {
                position: relative;
                left: 5px;
                top: 3px;
            }
        }

        &:hover {
            background-color: $dtwt;
            transition: 500ms;
        }
    }
}

@media screen and (max-width: $v2 ) {
    header {
        flex: 0 0 auto;
    }

    #linkbar {
        width: min-content;
        margin: 0;

        a {
            width: min-content;
            margin: 0;
            padding: 15px;

            span {
                display: none;
            }
        }

        .icon {
            margin: 0;
        }

        .twtBtn {
            margin-left: 10%;
            
            .composeIcon {
                display: inline !important;
            }
        }
    }
}

@media screen and (max-width: $v1 ) {
    #linkcont {
        left: 0;
    }
}

@media screen and (max-width: $vmobile) {
    header {
        z-index: 1;
    }


    #linkcont {
        bottom: 0;
    }

    #linkbar {
        height: fit-content;
        width: 100vw;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0.5rem 0;
        
        span {
            display: none;
        }

        .mobHide {
            display: none;
        }

        .twtBtn {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 115%;
            right: 20px;
            width: 56px;
            height: 56px;
            padding: 0;

        }
    }
}