@import 'variables.scss', 'linkbar.scss', 'tweets.scss', 'discover.scss', 'compose.scss';

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: $font;
}

#content {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    flex: 1 0 auto;
    gap: 2px;
}

main {
    display: flex;
    gap: 2rem;
    min-height: 100vh;
}

#main {
    padding: 1rem 0;
    background-color: white;
    border: 1px solid $lg;
    border-top: none;
}

.pageHead {
    width: calc(100% - 2rem);
    font-size: 20px;
    font-weight: 700;
    padding: 1rem;
    padding-top: 0;
    display: flex;
    justify-content: space-between;

    a {
        color: $blk;
        padding: 6.5px 10px;
        border-radius: 50%;

        &:hover {
            background-color: $lg;
        }
    }
}

a {
    text-decoration: none;
    color: $twt;
}

.filter-bw {
    filter: invert(100%) sepia(38%) saturate(0%) hue-rotate(147deg) brightness(104%) contrast(100%);
}


@media screen and (max-width: $v1 ) {
    main {
        margin-left: 90px;
        width: calc(100% - 91px);
    }
}

@media screen and (max-width: $vmobile ) {
    #content {
        max-width: 100vw;
    }

    main {
        margin: 0;
        width: 100vw;
    }
}