@import 'variables.scss', 'linkbar.scss', 'tweets.scss', 'discover.scss', 'compose.scss';

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: $font;
}

#content {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    flex: 1 0 auto;
    gap: 2px;
}

main {
    display: flex;
    gap: 2rem;
    min-height: 100vh;
}

#main {
    padding: 2rem 0;
    background-color: white;
    border: 1px solid $lg;
    border-top: none;
}

.pageHead {
    width: calc(100% - 2rem);
    font-size: 20px;
    font-weight: 700;
    padding: 1rem;
    padding-top: 0;
    display: flex;
    gap: 2rem;

    img {
        display: none;
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 1rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;

        a {
            color: $blk;
            padding: 6.5px 10px;
            border-radius: 50%;

            &:hover {
                background-color: $lg;
            }
        }
    }
}


#footer {
    margin-top: 2rem;
    color: $dg;
    font-size: 0.9rem;
    width: 350px;

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
        line-height: 10px;

        li a {
            color: $dg;
        }

    }
}


a {
    text-decoration: none;
    color: $twt;
}

.filter-bw {
    filter: invert(100%) sepia(38%) saturate(0%) hue-rotate(147deg) brightness(104%) contrast(100%);
}


@media screen and (max-width: $v1 ) {
    main {
        margin-left: 85px;
        width: calc(100% - 90px);
    }
}

@media screen and (max-width: $vmobile ) {
    #content {
        width: 100%;
    }

    main {
        margin: 0;
        width: 100%;

        #main {
            border: none;

            .pageHead {
                width: 100%;

                img {
                    display: block;
                }
            }
        }
    }
}