#tweetsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 598px;

    .tweet {
        border-bottom: 1px solid $lg;
        padding: 12px 20px;
        padding-bottom: 0;
        display: grid;
        grid-template-columns: 53px auto;

        .picture {
            width: 55px;

            img {
                width: 48px;
                height: 48px;
                border-radius: 24px;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            font-size: 15px;

            .twtHead {
                display: flex;
                gap: 6px;
                color: grey;

                .twtName {
                    color: black;
                    font-weight: 500;
                }
            }

            .twtBadges {
                font-size: 13px;
                color: $dg;
                font-weight: 500;
                display: flex;
                justify-content: space-between;
                
                * {
                    display: flex;
                    align-items: center;
                    padding: 8px;
                    border-radius: 50%;
                    cursor: pointer;
                }

                .blue:hover {
                    svg {
                        background-color: $ltwt;
                        stroke: $twt !important;
                    }

                    span {
                        color: $twt;
                    }
                }

                .green:hover {
                    svg {
                        background-color: $lgrn;
                        stroke: $dgrn !important;
                        stroke-width: 2;
                    }

                    span {
                        color: $dgrn;
                    }
                }

                .pink:hover {
                    svg {
                        background-color: $lpnk;
                        stroke: $dpnk !important;
                    }

                    span {
                        color: $dpnk;
                    }
                }
            }
        }
    }

    .endtwt {
        text-align: center;
        color: $dg;
        padding: 1rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: $vmobile) {
    #tweetsContainer {
        width: 100%;
    }
}